<!-- Filter Bar Start -->
<div ng-controller="MapController">
    <nav class="navbar navbar-default " role="navigation">


        <div class="navbar-header" id="filter-header-map">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filterNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" style="text-align: center; " class="navbar-brand dropdown" data-toggle="dropdown">Map-Tool<br>
                <img src="images/up-arrow-1.png"> </a>
            <ul class="dropdown-menu">
                <li><a><span class="glyphicon glyphicon-list"> Each-Page </span> <input type="number" min="1" max="100"
                                                                                        ng-model="pageSize"> </a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="filterNavbar">
            <ul class="nav navbar-nav ">
                <li class="dropdown"><a href="" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"> Center</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="set_nyu()"><span class="glyphicon glyphicon-home">    NYU-Center</span></a>
                        </li>
                        <li><a href="" ng-click="set_user()"><span
                                class="glyphicon glyphicon-user">    User-Center</span></a></li>
                    </ul>
                </li>
                <li><a href="" ng-click="classify(''); initmap()"><span class="glyphicon glyphicon-home">     All</span></a>
                </li>
                <li class="dropdown" ng-repeat="category in categories">
                    <a href="" data-toggle="dropdown" data-hover="dropdown"> <span
                            class="glyphicon glyphicon-tags">     {{category.name}}</span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key,value) in category" ng-if="(key!='name')"><a href=""
                                                                                         ng-click="classify(key);initmap()">
                            {{value}}</a>
                        </li>
                    </ul>
                </li>
                <li><a><span class="glyphicon glyphicon-search"> Search </span> <input ng-model="search_filter"
                                                                                       id="search"
                                                                                       placeholder="Filter text"> </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Filter Bar End -->
    <div>
        <div id="googleMap" class="mapcover"></div>
    </div>

</div>
