<!DOCTYPE html>
<html lang="en" ng-app="studentDiscount">
<head>
    <meta charset="UTF-8">

    <title>NYU Student Discount Guide</title>
    <!--Google Map & Places-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc2b5t1-XsnnDEsBLRdEsvaWp8kc53AVg&libraries=places"></script>-->
    <!--Test-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMF7nierd6EEFzY2YJiTVsBNn2gLPAuAg&libraries=places"></script>
    <!--Google Login-->
    <script src="https://apis.google.com/js/platform.js"></script>
    <!--Angular CDN-->
    <script src="bower_components/angular/angular.min.js"></script>
    <!--Angular Modules-->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <!--Angular Bootstrap -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/template_style.css">
    <link rel="stylesheet" href="css/customized_style.css">
    <script src="src/module.js"></script>
    <!--Angular Artifacts-->
    <script src="src/constants.js"></script>
    <script src="src/config.js"></script>

    <script src="src/services/data.service.js"></script>
    <script src="src/services/geolocation.service.js"></script>
    <script src="src/services/map.service.js"></script>
    <script src="src/services/util.service.js"></script>

    <script src="src/layout/table.controller.js"></script>
    <script src="src/layout/map.controller.js"></script>
    <script src="src/layout/main.controller.js"></script>
    <script src="src/layout/placeForm.controller.js"></script>
    <script src="src/layout/placeDetail.controller.js"></script>
    <script src="src/layout/login.controller.js"></script>

    <script src="src/components/filterBar.component.js"></script>
    <script src="src/components/mapToolBar.component.js"></script>
    <script src="src/components/adminBar.component.js"></script>

</head>

<body ng-controller="MainController as MainCtrl">
<nav class="navbar navbar-default navbar-static-top" style="margin:0" id="fake-menu"></nav>
<nav class="fix-top navbar-header" role="navigation">
    <button type="button" class="navbar-brand btn btn-default"
            ng-click="MainCtrl.isMenuCollapsed = !MainCtrl.isMenuCollapsed">
        <span class="glyphicon glyphicon-menu-right"></span>
    </button>
</nav>
<nav class="navbar navbar-default navbar-fixed-top horizontal-collapse" uib-collapse="MainCtrl.isMenuCollapsed"
     horizontal>
    <div class="navbar-header">
        <a href="" class="navbar-brand" ng-click="MainCtrl.isMenuCollapsed=!MainCtrl.isMenuCollapsed">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a ui-sref="table({place_id:''})" ng-click="MainCtrl.scrollToId('fake-menu');"
               ng-style="MainCtrl.state.current.name=='table' ? MainCtrl.selectedStyle : {}">
                Table Version
            </a>
        </li>
        <li>
            <a ui-sref="map({place_id:''})" ng-click="MainCtrl.scrollToId('fake-menu');"
               ng-style="MainCtrl.state.current.name=='map' ? MainCtrl.selectedStyle : {}">
                Map Version
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
        <li>
            <a href="" ng-if="!MainCtrl.credentials.username" ui-sref="login"
               ng-click="MainCtrl.scrollToId('content');">
                Login
            </a>

            <a href="" ng-if="MainCtrl.credentials.username"
               ng-click="MainCtrl.logout();MainCtrl.scrollToId('content')">
                Logout {{MainCtrl.credentials.username}}
            </a>
        </li>
    </ul>
</nav>


<section id="content">
    <ui-view></ui-view>
    <div id="google-map" class="map-cover" ng-show="MainCtrl.state.current.name=='map'"></div>
</section>

<!-- add new place -->
<section class="contact">
    <p>Know an amazing discount you don't see listed here yet? </p>
    <div class="con">
        <a ng-click="MainCtrl.openAddNewPlaceModal(MainCtrl.newPlaceForm)" href=""
           class="b-link-stripe b-animate-go hvr-bounce-to-bottom">Submit a Discount</a>
    </div>
    <br>
    <p style="font-size:12px;">Note: NYU Student can add 3 places and other Google users can add 1 place for now</p>
</section>

<!--<section class="about-us" id="about"></section>-->

<footer class="footer" id="contact">
    <h4>Just want to help fellow students save money where the can.</h4>
    <section class="contact-grid">
        <h6>LOCATION</h6>
        <p>New York University</p>
    </section>
    <section class="contact-grid">
        <h6>PHONE</h6>
        <p>None</p>
    </section>
    <section class="contact-grid">
        <h6>EMAIL</h6>
        <p><a href="mailto:nyusdg@gmail.com">
            <span class="glyphicon glyphicon-envelope"
                  aria-hidden="true"></span> Mail Us </a></p>
    </section>
    <br><br><br>
    <p style="color:RebeccaPurple; text-align: center">Copyright ©2016 Xiang Wang, All Rights Reserved.</p>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
</footer>
</body>
</html>