<!--banner-->
<header class="cover header" id="banner">
    <section class="banner-info">
        <h3>NYU STUDENT DISCOUNT GUIDE</h3>
    </section>
    <section class="intro">
        <form name="loginForm" novalidate>
            <table class="login-table">
                <tr>
                    <td>
                        NetId
                    </td>
                    <td>
                        <input title="username" name="username" type="text" class="form-control"
                               ng-model="$ctrl.loginForm.username" required/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        pwd
                    </td>
                    <td>
                        <input title="password" name="password" type="password" class="form-control"
                               ng-model="$ctrl.loginForm.password" required/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: center;">
                        <div style="width: 80%">
                            <div id="nyu-login" ng-click="$ctrl.loginWithNetId($ctrl.loginForm)">
                                <div class="icon-wrapper">
                                    <span class="icon"></span>
                                </div>
                                <span class="button-text">Sign in</span>
                            </div> <br>
                            <span style="display: inline-block; margin-top:10%" id="google-login"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </form>

        <p><i></i></p>
    </section>
</header>

