<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        <span style="font-size: 2em">&times;</span>
    </button>
    <h4 class="modal-title">Place Detail</h4>
</div>
<div class="modal-body">
    <table class="table table-responsive">
        <tr>
            <td>
                <span>Name : </span>{{$ctrl.placeDetail.place_name}}
            </td>
            <td>
                <span>Category : </span>{{$ctrl.placeDetail.category}}
            </td>
        </tr>
        <tr>
            <td>
                <span>Discount Given (%) : </span>{{$ctrl.placeDetail.discount_percent}}
            </td>
            <td>
                <span>Requirements : </span>{{$ctrl.placeDetail.discount_detail}}
            </td>
        </tr>
        <tr>
            <td>
                <span>Additional Information : </span>{{$ctrl.placeDetail.information}}
            </td>
            <td>
                <span>Website : </span> <a href="{{$ctrl.placeDetail.web_url}}">{{$ctrl.placeDetail.web_url}}</a>
            </td>
        </tr>
        <tr>

            <td>
                <span>Address : </span> {{$ctrl.placeDetail.address}}
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <span>Phone : </span>{{$ctrl.placeDetail.phone}}
            </td>
            <td>
                <span>Email : </span><a href="mailto:{{$ctrl.placeDetail.email}}">
                {{$ctrl.placeDetail.email}}</a>
            </td>
        </tr>
        <tr ng-if="$ctrl.placeDetail.google_place_url">
            <td>
                <a href="{{$ctrl.placeDetail.google_place_url}}" target="_blank">Google Place Url</a>
            </td>
        </tr>
    </table>
    <br>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
    <button type="button" class="btn btn-success" ui-sref="map({place_id:$ctrl.placeDetail.place_id})"
            ng-click="$ctrl.cancel()">To map
    </button>
</div>